<template>
  <div>
      <h1>hola franz sfasfasfafasas</h1>
      {{usuario.nombre}}
         {{usuario.edad}}
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed:{
        ...mapState({
            usuario:'usuario'
        }),
        
    }

}
</script>

<style>

</style>