<template>
    <div class="navbar">
        <div class="brand">
            <router-link to="/">
                        Empresa X</router-link>
        </div>
        <div class="options">
            <ul>
                <li v-for="ruta in options">
                    <router-link :to="ruta.ruta">
                        {{ruta.name}}</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'navbar',
    data(){return{
        options:[
            {
                name: 'nosotros',
                ruta : '/nosotros'
            },
            {
                name: 'contactos',
                ruta: '/contactos'
            }
        ]
    }}
}
</script>

<style scoped lang='scss'>
    .navbar{
        display: flex;
        width: 100vw;
        background-color: black;
        justify-content: space-between;
        .options{
            ul{
                display:flex;
                flex-direction: row;
                li{
                    padding-left: 10px ;
                    a{
                        font-size: 2em;
                        color: white;
                        text-decoration: none;
                        
                    };
                    a:hover{
                        background: rgb(92, 84, 84)
                    }
                }
            }
        };
        .brand{
            a{
                font-size: 2em;
                color: white;
                margin-left: 10px
            }
        }
    }
</style>